		<footer id='footer'>
			<div class='content'>
				<nav class="nav-main">
					<div>
						<ul>
							<li>
								<a class='highlight double-line' href='#top'>Alex Torres</a>
							</li>
							<li>
								<a href='#projects'>projects</a>
							</li>
							<li>
								<a href='https://github.com/alexander-torres/mywebsite'>developer</a>
							</li>
						</ul>

						<div class='contact'>
							<a class='button' href="mailto:torresalexanderg@gmail.com">
								<i class='fa fa-envelope' aria-hidden='true'></i>
							</a>
							<a class='linkedin button' href="https://www.linkedin.com/in/alexander-torres-76b42824/">
								<i class='fa fa-linkedin-square' aria-hidden='true'></i>
							</a>
						</div>
					</div>

					<ul>
						<li>
							<a href='https://github.com/alexander-torres'>GitHub</a>
						</li>
					</ul>
				</nav>
			</div>
		</footer>
	</body>
</html>