<!DOCTYPE html>
<html>
	<head>
		<title>Alex Torres</title>
		<link rel='stylesheet' type='text/css' href='/stylesheets/main.css'>
	</head>
	<body>
		<header id='header'>
			<nav >
				<ul>
					<li>
						<a class='underline' href='/'>Alex Torres</a>
					</li>
					<li>
						<a class='underline' href='/projects'>Projects</a>
						<ul class='drop-menu'>
							<li>
								<a href='/projects/colorgame'>Color Game</a>
							</li>

							<li>
								<a href='https://codepen.io/abetorvo/pen/zRpRvQ' target='_blank'>Pixel Art Maker</a>
							</li>

							<li>
								<a href='/projects/sokoban'>Sokoban</a>
							</li>

							<li>
								<a href='/projects/tictactoe'>Tic Tac Toe</a>
							</li>

							<li>
								<a href='https://arcane-headland-87495.herokuapp.com/' target='_blank'>YelpCamp</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul>
					<li>
						<a href='https://github.com/alexander-torres/mywebsite' target='_blank'>DEVELOPER</a>
					</li>
				</ul>
			</nav>
		</header>