<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Alex Torres</title>
		<link rel='stylesheet' type='text/css' href='/stylesheets/main.css'>
		<script src="https://use.fontawesome.com/25eda83e62.js"></script>
	</head>
	<body>
		<div class='navbar'>
			<nav class="nav-main nav-inline">
				<ul>
					<li>
						<a class='underline' href='#top'>Alex Torres</a>
					</li>
					<li>
						<a class='underline' href='#projects'>projects</a>
					</li>
				</ul>
				<ul>
					<li>
						<a class='underline' href='https://github.com/alexander-torres/mywebsite'>developer</a>
					</li>
				</ul>
			</nav>
		</div>