<% include partials/header %>

		<header>
			<% include projects/rubik %>

			<h1 class='heading'>Alex Torres</h1>

			<div class='summary'>Front End developer with a passion for creatively and efficiently solving problems. I enjoy using math and programming logic to make engaging, user-friendly experiences.</div>

			<div class='contact'>
				<a class='button' href="mailto:torresalexanderg@gmail.com">
					<i class='fa fa-envelope' aria-hidden='true'></i>
					Get in touch
				</a>
				<a class='linkedin button' href="https://www.linkedin.com/in/alexander-torres-76b42824/">
					<i class='fa fa-linkedin-square' aria-hidden='true'></i>
					Connect on LinkedIn
				</a>
			</div>

			<!-- <div class='fade-bottom'></div> -->
		</header>

		<main>
			<div class='content' id='projects'>
				<h2 class='heading'>Projects</h2>

				<nav class='nav-projects'>
					<ul>
						<li>
							<a class='sokoban' href='/projects/sokoban'>
								<span class='preview'></span>

								<span class='text'>
									<h3 class='heading'>Sokoban</h3>

									<p class='summary'>Old school game set in a retro handheld gaming console. This was an exercise in using vanilla JavaScript to make a working game, or at least part of it, and using CSS tricks to make a fun container.</p>
								</span>
							</a>
						</li>

						<li>
							<a class='colorgame' href='/projects/colorgame'>
								<span class='preview'></span>

								<span class='text'>
									<h3 class='heading'>Color Game</h3>

									<p class='summary'>Do you love trying to guess rgb codes for a specific color? Then you'll enjoy The Great RGB Guessing Game! Check out this simple, vanilla JavaScript based game and put your rgb skills to the test. <em>NOTE: If you are color blind, this may not be for you.</em></p>
								</span>
							</a>
						</li>

						<li>
							<a class='pixelartmaker' href='/projects/pixelartmaker'>
								<span class='preview'></span>

								<span class='text'>
									<h3 class='heading'>Pixel Art Maker</h3>

									<p class='summary'>because, who doesn't like to make pixel art? This project was an exercise in jQuery, especially jQuery triggers and event delegation. I enjoyed making it as much as I do using it. So go ahead, make your best 8-bit Mario.</p>
								</span>
							</a>
						</li>

						<li>
							<a class='tictactoe' href='/projects/tictactoe'>
								<span class='preview'></span>

								<span class='text'>
									<h3 class='heading'>Tic Tac Toe</h3>

									<p class='summary'>Simple tic tac toe using vanilla JavaScript and minimal CSS. This was an excercise in conditional logic as well as minimizing the amount of CSS code for more efficient styling.</p>
								</span>
							</a>
						</li>

						<li>
							<a class='yelpcamp' href='https://arcane-headland-87495.herokuapp.com/' 
							target='_blank'>
								<span class='preview'></span>

								<span class='text'>
									<h3 class='heading'>YelpCamp</h3>

									<p class='summary'>A sample website for cataloging campsites and allowing users to add comments or reviews on each campsite. This site is based on NodeJS and utilizes Express, Mongoose, MongoDB, Passport, and Heroku.</p>
								</span>
							</a>
						</li>
					</ul>
				</nav>

				<div class='stage'>
					<div class='project'>
						<% include projects/colorgame %>

						<div class='exit' onclick='projectClose()'>
							<span class='line line-1'></span>
							<span class='line line-2'></span>
						</div>
					</div>

					<div class='project'>
						<% include projects/pixelartmaker %>

						<div class='exit' onclick='projectClose()'>
							<span class='line line-1'></span>
							<span class='line line-2'></span>
						</div>
					</div>

					<div class='project'>
						<% include projects/sokoban %>

						<div class='exit' onclick='projectClose()'>
							<span class='line line-1'></span>
							<span class='line line-2'></span>
						</div>
					</div>

					<div class='project'>
						<% include projects/tictactoe %>

						<div class='exit' onclick='projectClose()'>
							<span class='line line-1'></span>
							<span class='line line-2'></span>
						</div>
					</div>
				</div>
			</div>
		</main>

		<script type='text/javascript' src='scripts/main.js'></script>

<% include partials/footer %>