#colorgame {
	background: #232323;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	margin: 0;
	width: 100%;
}

#colorgame header {
	padding: 0;
}

#colorgame h1 {
	background: steelblue;
	color: white;
	font-weight: normal;
	line-height: 1.1;
	margin: 0;
	padding: 50px 0 20px;
	text-align: center;
	text-transform: uppercase;
}

#colorgame #rgbDisplay {
	font-size: 2em;
}

#colorgame .container {
	margin: 0 auto;
	max-width: 600px;
	padding: 1.66% 0 50px;
}

#colorgame .square {
	background: red;
	border-radius: 15%;
	display: inline-flex;
	margin: 1.41%;
	padding-bottom: 30%;
	transition: background 0.5s;
	width: 30%;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
}

#colorgame .square:hover {
    cursor: pointer;
}

#colorgame #message {
	display: inline-block;
	width: 20%;
}

#colorgame #stripe {
	background: white;
	text-align: center;
	height: 30px;
	color: black;
}

#colorgame .selected {
	background: steelblue;
	color: white;
}

#colorgame button {
	border: none;
	background: none;
	height: 100%;
	text-transform: uppercase;
	font-weight: 700;
	color: steelblue;
	transition: all 0.3s;
}

#colorgame button:hover {
	color: white;
	background: steelblue;
	cursor: pointer;
}

#colorgame .hide {
	display: none;
}