		<link rel='stylesheet' type='text/css' href='stylesheets/rubik.css'>

		<div class='scene'>
			<div class='cube'>
				<div class='piece white f-1 e-2 e-3'></div>
				<div class='piece white f-1 e-2'></div>
				<div class='piece white f-1 e-2 e-6'></div>
				<div class='piece white f-1 e-3'></div>
				<div class='piece white f-1'></div>
				<div class='piece white f-1 e-6'></div>
				<div class='piece white f-1 e-5 e-3'></div>
				<div class='piece white f-1 e-5'></div>
				<div class='piece white f-1 e-5 e-6'></div>

				<div class='piece red f-2 e-1 e-3'></div>
				<div class='piece red f-2 e-1'></div>
				<div class='piece red f-2 e-1 e-6'></div>
				<div class='piece red f-2 e-3'></div>
				<div class='piece red f-2'></div>
				<div class='piece red f-2 e-6'></div>
				<div class='piece red f-2 e-4 e-3'></div>
				<div class='piece red f-2 e-4'></div>
				<div class='piece red f-2 e-4 e-6'></div>

				<div class='piece blue f-3 e-2 e-1'></div>
				<div class='piece blue f-3 e-2'></div>
				<div class='piece blue f-3 e-2 e-4'></div>
				<div class='piece blue f-3 e-1'></div>
				<div class='piece blue f-3'></div>
				<div class='piece blue f-3 e-4'></div>
				<div class='piece blue f-3 e-5 e-1'></div>
				<div class='piece blue f-3 e-5'></div>
				<div class='piece blue f-3 e-5 e-4'></div>

				<div class='piece yellow f-4 e-2 e-3'></div>
				<div class='piece yellow f-4 e-2'></div>
				<div class='piece yellow f-4 e-2 e-6'></div>
				<div class='piece yellow f-4 e-3'></div>
				<div class='piece yellow f-4'></div>
				<div class='piece yellow f-4 e-6'></div>
				<div class='piece yellow f-4 e-5 e-3'></div>
				<div class='piece yellow f-4 e-5'></div>
				<div class='piece yellow f-4 e-5 e-6'></div>

				<div class='piece orange f-5 e-1 e-3'></div>
				<div class='piece orange f-5 e-1'></div>
				<div class='piece orange f-5 e-1 e-6'></div>
				<div class='piece orange f-5 e-3'></div>
				<div class='piece orange f-5'></div>
				<div class='piece orange f-5 e-6'></div>
				<div class='piece orange f-5 e-4 e-3'></div>
				<div class='piece orange f-5 e-4'></div>
				<div class='piece orange f-5 e-4 e-6'></div>

				<div class='piece green f-6 e-2 e-1'></div>
				<div class='piece green f-6 e-2'></div>
				<div class='piece green f-6 e-2 e-4'></div>
				<div class='piece green f-6 e-1'></div>
				<div class='piece green f-6'></div>
				<div class='piece green f-6 e-4'></div>
				<div class='piece green f-6 e-5 e-1'></div>
				<div class='piece green f-6 e-5'></div>
				<div class='piece green f-6 e-5 e-4'></div>
			</div>
		</div>

		<script type='text/javascript' src='scripts/rubik.js'></script>