		<link rel='stylesheet' href='/stylesheets/sokoban.css'>

		<div id='sokoban'>
			<div id="skin">
				<div id="switch">
					<div></div>
					<div></div>
					<div></div>
					<p>⯇OFF•ON⯈</p>
				</div>
				<div id="indentV">
					<div></div>
					<div></div>
				</div>
				<div id="indentH"></div>
				<div id="screenPlate">
					<div id="lines"></div>
					<p id="linesText">DOT MATRIX WITH STEREO SOUND</p>
					<div id="screen"></div>
					<div id="batteryLight"></div>
					<p id='batteryText'>BATTERY</p>
				</div>
				<p id="logo"><strong>Mintendo</strong><em>GAME TOY</em></p>
				<div id="arrows">
					<table>
						<tr>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</div>
				<div id='buttonArea'>
					<div>
						<span class="abButtons"></span>
						<span class="abButtons"></span>
					</div>
					<p>B &emsp; &emsp; &nbsp; A</p>
				</div>
				<div class="ssButtons">
					<div></div>
					<p>SELECT</p>
				</div>
				<div class="ssButtons">
					<div></div>
					<p>START</p>
				</div>
				<div id="chamfer"></div>
				<div id="speaker">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div id="phones">
					<p>PHONES</p>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</div>

		<script type='text/javascript' src='/scripts/sokoban.js'></script>